body {
    margin: 0;
}

* {
    font-family: 'S-CoreDream-3Light';
}


/*loginout*/
#loginContainer {
    display: block;
}

#loggedInContainer {
    display: block;
}

/*base*/
.nav_main {
    background-color: rgb(255, 255, 145);
    display: flex;
    width: 100%;
    /*div 가운데 정렬*/
    text-align: center;
    justify-content: space-around;
}

.nav_main img {
    width: 60%;
    margin-left: 55%;

}

.hello {
    display: flex;
}

.href_a {
    display: flex;
}

.href_a div {
    font-size: 20px;
    color: rgb(148, 119, 108);
    font-weight: 600;
    margin-top: 10px;
}

.sign_a {
    margin-top: 10px;
    margin-left: 20px;
}

.sign_a a {
    font-size: 20px;
    color: rgb(148, 119, 108);
    font-weight: 600;
    text-decoration-line: none;
}

.sign_a a:hover {
    font-size: 20px;
    color: green;
    font-weight: 600;
}

.sign_a button {
    font-size: 20px;
    color: rgb(148, 119, 108);
    background-color: rgb(255, 255, 255, 0);
    border: none;
    font-weight: 600;
}
.sign_a button:hover {
    font-size: 20px;
    color: green;
    font-weight: 600;
}


/*signup*/
#container_img {
    width: 300px;
    margin-left: 41vw;
    margin-top: 20px;
    margin-bottom: -20px;
}

.sign_ {
    padding:30px;
    width: 30%;
    border: dashed 3px yellowgreen;
    border-radius: 10%;


    margin: auto;
    margin-top: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    color: orangered;
    font-size: 50px;
}

.signup_ {
    width: 60%;
    margin: auto;
}

.signup_input {
    /*div 가운데 정렬*/
    text-align: center;
}

.signup_input div {
    margin: 30px;
}

.signup_input input {
    font-size: 120%;
    text-align: center;
    border-color: yellowgreen;
}

#send_mail {
    text-align: center;
    width: 249px;
    font-size: 15px;
    background-color: green;

    color: white;
    font-weight: 400;
}

.signup_btn {
    text-align: center;
}

.signup_btn button{
    text-align: center;
    margin-left: 15px;
    width: 249px;
    font-size: 20px;
    background-color: yellowgreen;
    border-color: yellowgreen;
    color: orangered;
    font-weight: 400;
}

/*login*/
#container_img {
    width: 300px;
    margin-left: 41vw;
    margin-top: 20px;
    margin-bottom: -20px;
}

.sign_ {
    padding:30px;
    width: 30%;
    border: dashed 3px yellowgreen;
    border-radius: 10%;


    margin: auto;
    margin-top: 50px;
}
h1 {
    text-align: center;
    margin-bottom: 50px;
    color: orangered;
    font-size: 50px;
}

.login_ {
    width: 60%;
    margin: auto;
}

.login_input {
    /*div 가운데 정렬*/
    text-align: center;
}

.login_input div {
    margin: 30px;
}

.login_input input {
    font-size: 120%;
    text-align: center;
    border-color: yellowgreen;
}

.login_btn {
    text-align: center;

}

.login_btn button {
    text-align: center;
    margin-left: 15px;
    width: 249px;
    font-size: 20px;
    background-color: yellowgreen;
    border-color: yellowgreen;
    color: orangered;
    font-weight: 400;
}

/*mypage*/
.nav_main_mypage {
    display: flex;
    width: 76%;
    float: right;
    /*div 가운데 정렬*/
    text-align: center;
    justify-content: space-around;
}

#mypage_logo {
 width: 20vw;
 position: absolute;
 left: 40px;
}

#mypage_div_info {
    background-color: rgb(255, 255, 145);
}

.mypage_div {
    /*세로로 정렬*/
    display: inline-block;
    vertical-align: top;
    padding: 40px;
    width: 330px;

    height: 100vw;
}

.mypage_div_white {
    background-color: rgb(255, 255, 255, 0.5);
    padding-left: 15px;
    width: 300px;
    height: 500px;
}

#mypage_div_write {
    position: relative;
    float: right;
    width: 1100px;
    text-align: center;
    background-color: rgb(154, 230, 154);
}

#user_title {
    color: green;
    font-size: 30px;
    margin: 20px;
    margin-left: 100px;
    margin-top: 100px;
}

#article_title {
    color: green;
    font-size: 30px;
}


.mypage_content div {
    font-size: 20px;
    color: green;
    margin-left: 20px;
}

/*main*/
.main_div {
display: block;
}

.nav_ {
    width: 100%;
}

.nav_sign {
    width: 100%;
}

#href_right {
    margin-left: 70vw;
    margin-top: -2px;
}

#hello {
    float: right;
    margin-right: 20px;
}

#logo {
    margin-left: 400px;
    margin-top: 150px;
    width: 50%;
}

/*검색*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.search-form {
    display: flex;
    align-items: center;
}


.search-btn {
    color: rgb(256, 252, 140);
    background-color: rgb(252, 99, 19);
    border: none;
    padding: 10px 20px;
    margin-left: -100px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    z-index: 1;
}



/*파일올리는창*/
.file-input-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: rgb(256, 252, 140);
    width: 600px;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
}

/* 파일 넣는 곳 */
.file-input {
    opacity: 0;
    position: absolute;
    left: 10px;
    top: 10px;
    width: auto;
    height: auto;
    cursor: pointer;
}

/* 파일 버튼 */
.file-button {
    display: inline-block;
    padding: 10px 20px;
    color: darkgray;
    background-color: rgb(242, 237, 237);
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

/* 파일 이름: 배고프다, 뭐먹지? */
.file-name {
    display: inline-block;
    color: darkgray;
    margin-left: 10px;
}


/* Foot bar
.jumbotron {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 0;
    width: 100%;
    height: 60px;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
}

.footer h3 {
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.footer .container {
    text-align: center;
} */